<!-- About -->
<div id="about" class="section md-padding">

    <!-- Container -->
    <div class="container">

        <!-- Row -->
        <div class="row">

            <!-- Section header -->
            <div class="section-header text-center">
                <h2 class="title">Te damos la bienvenida</h2>
            </div>
            <!-- /Section header -->

            <!-- about -->
            <div class="col-md-4">
                <div class="about">
                    <i class="fa fa-cut"></i>
                    <h3>Crea tu marca</h3>
                    <p>Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero sit amet.</p>
                    <a href="#inicio-sesion">Ver más</a>
                </div>
            </div>
            <!-- /about -->

            <!-- about -->
            <div class="col-md-4">
                <div class="about">
                    <i class="fa fa-glass"></i>
                    <h3>Registra Vinos</h3>
                    <p>Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero sit amet.</p>
                    <a href="#inicio-sesion">Ver más</a>
                </div>
            </div>
            <!-- /about -->

            <!-- about -->
            <div class="col-md-4">
                <div class="about">
                    <i class="fa fa-edit"></i>
                    <h3>Realiza Cambios</h3>
                    <p>Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero sit amet.</p>
                    <a href="#inicio-sesion">Ver más</a>
                </div>
            </div>
            <!-- /about -->

        </div>
        <!-- /Row -->

    </div>
    <!-- /Container -->

</div>
<!-- /About -->        

<!-- Inicio de Sesión -->
<div id="inicio-sesion" class="section md-padding bg-grey">

    <!-- Container -->
    <div class="container">

        <!-- Row -->
        <div class="row">

            <!-- why choose us content -->
            <div class="col-md-6">
                <div class="section-header">
                    <h2 class="title">Iniciar Sesión</h2>
                </div>
                <!-- contact form -->
                <div class="col-md-8 col-md-offset-1">
                    <form class="contact-form formulario" action="/ingresar" method="POST">
                        <div class="form-group">
                            <input type="email" name="correo" placeholder="Usuario">
                        </div>
                        <div class="form-group">
                            <input type="password" name="clave" placeholder="Contraseña">
                        </div>
                        <button class="main-btn" type="submit">Ingresar</button>
                        <p>¿Aún no tienes cuenta? <span><a href="#registro">Regístrate Aquí</a></span></p>
                    </form>
                </div>
                <!-- /contact form -->
            </div>
            <!-- /why choose us content -->

            <!-- About slider -->
            <div class="col-md-6">
                <div id="about-slider" class="owl-carousel owl-theme">
                    <img class="img-responsive" src="https://images.all-free-download.com/images/graphiclarge/bar_wines_514430.jpg" alt="">
                    <img class="img-responsive" src="https://cdn-image.foodandwine.com/sites/default/files/styles/4_3_horizontal_-_1200x900/public/201206-hd-25-wines-summer.jpg?itok=FaEpx0Dt" alt="">
                    <img class="img-responsive" src="http://s1.1zoom.me/prev/467/466914.jpg" alt="">
                    <img class="img-responsive" src="https://i.pinimg.com/originals/82/94/a3/8294a3e3a33cdb16315bfd15e79c0341.jpg" alt="">
                </div>
            </div>
            <!-- /About slider -->

        </div>
        <!-- /Row -->

    </div>
    <!-- /Container -->

</div>
<!-- /Inicio de Sesión -->

<!-- Registro -->
<div id="registro" class="section md-padding">

    <!-- Background Image -->
    <div class="bg-img" style="background-image: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/E8EAEZ4/wine-glasses-on-a-wooden-table-at-a-restaurant-1080p-hd_n1qo29vy__F0000.png');">
        <div class="overlay"></div>
    </div>
    <!-- /Background Image -->

    <!-- Container -->
    <div class="container">

        <!-- Row -->
        <div class="row">
            <div class="section-header">    
                <h3 class="white-text text-center">Registro</h3>
                <p class="text-center">
                    Lorem ipsum dolor sit amet. <br>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, mollitia?
                </p>
            </div>
            <div class="col-md-10 col-md-offset-1">
                <div class="col-md-8 col-md-offset-2">
                    <form class="contact-form formulario" action="/registro" method="POST">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input type="text" class="input" name="nombre" placeholder="Nombre">
                            </div>
                            <div class="form-group col-md-6">
                                <input type="text" class="input" name="apellido" placeholder="Apellido">
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <input type="text" class="input" name="cedula" placeholder="Cédula">
                        </div>
                        <div class="form-group col-md-12">
                            <input type="tel" class="input" name="telefono" placeholder="Celular/Teléfono">
                        </div>
                        <div class="form-group col-md-12">
                            <input type="email" class="input" name="correo" placeholder="Correo">
                        </div>
                        <div class="form-group col-md-12">
                            <input type="text" class="input" name="direccion" placeholder="Dirección">
                        </div>                        
                        <button class="main-btn" type="submit">Registrarse</button>
                    </form>
                </div>
            </div>
        </div>
        <!-- /Row -->

    </div>
    <!-- /Container -->

</div>
<!-- /Registro -->
