<!-- Resultados -->
<div class="card mb-3">
    <div class="card-header"><i class="fas fa-paragraph"></i> Resultados de Pago</div>
    <div class="card-body">
        <div class="alert alert-success">
            <%= estado %>
        </div>
    </div>
    <div class="card-footer small text-muted">Resultados</div>
</div>
<!-- /Resultados -->